/* .form-container {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button[type='submit'] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer
} */

.createTender {
  background-color: #f7f7f7;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.createTender-heading {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.createTender-link {
  color: #008080;
  text-decoration: none;
  margin-left: 5px;
}

.createTender-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.createTender-label {
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.createTender-input {
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 300px;
}

.createTender-button {
  background-color: #008080;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.createTender-button:hover {
  background-color: #006666;
}

.table-container {
  margin: 0 auto;
  max-width: 800px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #ddd;
}

.table th {
  font-weight: bold;
  background-color: #f5f5f5;
}

